.city-list-section {
  background: white;
  height: 771px;
  display: flex;
  margin: 0;
}
.varosok {
  margin-left: 70px;
  h4 {
    color: var(--cities-green);
    font-size: 18px;
  }
}
.city-list-wrapper {
  margin-top: 25px;
  ul {
    list-style-type: none;
  }
}

@media screen and (max-width: 600px) {
  .city-list-section {
    flex-direction: column;
    .varosok {
      margin-left: 20px;
    }
  }
}
