.city-list-section{
    background: white;
    height: 771px;
    display: flex;
    margin: 0;
}
.varosok{
    margin-left: 117px;
    h4{

        color: #a3cd63;
        font-size: 18px;
    }
}
.city-list-wrapper {
    margin-top: 25px;
    ul {
      list-style-type: none;
      
  }
}