.chooser-section{
    display: flex;
    flex-direction: column;
    width: 322px;
    margin-left: 144px;
    margin-top: 78px;
}

@media screen and (max-width: 1110px) {
    .chooser-section{
        margin-left: 0;
    }

}