.list-section {
  margin-top: 78px;
  width: 652px;
  position: relative;
  .starter-img {
    height: 273px;
    position: absolute;
    top: 20%;
    left: 25%;
  }
}
@media screen and (max-width: 950px) {
  .list-section {
    margin: 0;
    width: 100%;
  }
}
