.city-list-wrapper {
  margin-top: 25px;
  ul {
    width: 20%;
    list-style-type: none;
    .city-line {
      display: flex;
      align-items: center;
      img {
        margin: 0 3px;
        cursor: pointer;
      }
    }
    li {
      height: 28px;
      font-size: 14px;
      font-weight: 500;
      padding: 1px 150px 1px 7px;
      border: 1px solid black;
    }
  }
}

