.city-line {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2px 0;

  .city {
    height: 28px;
    display: flex;
    justify-content: start;
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px 0 7px;
    width: 275px;
    cursor: pointer;
  }
  .city-btns {
    display: flex;

    .city-edit-input {
      position: absolute;
      height: 22px;
      width: 271px;
      left: 1%;
      top: 9%;
    }
    img {
      margin: 0 3px;
      cursor: pointer;
    }
  }
  .edit-alert {
    position: fixed;
    top: 10%;
    width: 300px;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    z-index: 15;
  }
  .success {
    background: var(--light-green);
  }
  .error {
    background: rgb(255, 96, 96);
  }
}
@media screen and (max-width: 640px) {
  .city-line {
    flex-direction: column;
    align-items: baseline;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
    animation-duration: 0.5s;
    .city-btns {
      margin-top: 8px;
      margin-left: 90px;
      display: flex;
      justify-content: baseline;
    }
  }
}
