.counties-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--county-picker-blue);
    height: 130px;
    h5{
        margin: 5px;
       width: 80%;
    }
    img{
        position: absolute;
        top: 89%;
        z-index: 10;
        
    }
    .county-picker{
        width: 263px;
        height: 34px;
    }
}

@media screen and (max-width: 950px) {
    .counties-section{
        padding-bottom: 40px;
        img{
            opacity: 0;
        }
      
    }
    
}
